<div class="flex">
  <div class="sidebar">
    <div class="sidebar-menu">
      <div class="logo">
        <span data-text="Trà"></span>
        <span data-text="TeaZ"></span>
      </div>
      <div class="admin-menu">
        <h4>COMPONENT</h4>
        <ul class="menu-bar">
          <li routerLink="/form" routerLinkActive="active"><i class="pi pi-credit-card"></i>Form</li>
          <li><i class="pi pi-stop"></i>Button</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="container">
    <header>
      <div>
        header
      </div>
    </header>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
