@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.sidebar {
  position: fixed;
  left: 0;
  z-index: 10;
  height: 100%;
  transition: all .3s ease;
  width: 260px;
  transform: translateX(0);
  box-shadow: 0 9px 95px 0 #0000000d;
  background: radial-gradient(farthest-corner, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), 
    url(https://picsum.photos/1280/800) center/cover;
  &-menu {
    padding: 22px;
  }
  .logo {
    font-size: 48px;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    mix-blend-mode: screen;
    margin-bottom: 42px;
    // background: radial-gradient(farthest-corner, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8)), 
    // url(https://picsum.photos/1280/800) center/cover;
    
    &.invert {
      span {
        color: black;
        
        &::before {
          -webkit-text-stroke: .1em var(--color);
        }
      }
    }
    
    span {
      --color: #ffba11;
      font-family: Impact, 'Anton', Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-weight: 700;
      font-style: italic;
      display: block;
      position: absolute;
      color: var(--color);
      letter-spacing: -.005em;
  
      &::before, &::after {
        content: attr(data-text);
        display: block;
        position: relative;
        padding: 0 .1em;
        z-index: 1;
      }
  
      &::before {
        position: absolute;
        -webkit-text-stroke: .1em black;
        z-index: 0;
      }
  
      &:first-child {
        transform: translate(-.255em, -.25em);
      }
  
      &:last-child {
        --color: #b6acff;
        transform: translate(.2em, .4em);
      }
    }
  }
  .admin-menu {
    h4 {
      font-weight: 500;
      font-size: 18px;
      line-height: 26px;
      color: #3277d1;
      margin-bottom: 10px;
    }
    .menu-bar {
      li {
        display: flex;
        align-items: center;
        font-weight: 400;
        font-size: 16px;
        line-height: 22px;
        color: #878f9a;
        padding: 10px 0;
        cursor: pointer;
        transition: all .3s;
        &:hover, 
        &.active {
          color: #3277d1;
          i {
            color: #fff;
            background: #3277d1;
            transition: all .3s;
          }
        }
        i {
          padding: 10px;
          border-radius: 50%;
          background: #eee;
          margin-right: 10px;
        }
      }
    }
  }
}
.translate {
  transform: translateX(-100%);
  transition: all .3s ease;
}
::ng-deep .menu-bar {
  .label-menu {
    visibility: hidden;
    position: absolute;
    white-space: nowrap;
    left: 90%;
    top: 50%;
    transform: translateY(-50%);
    // transition: all .2s cubic-bezier(.4,0,.2,1);
    font-size: 10px;
    background: #3277d1;
    padding: 2px 10px 4px 5px;
    color: #fff;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  .p-dock {
    z-index: 11;
    .p-dock-item {
      padding: 0.2rem 0.5rem;
    }
  }
  .p-dock-list-container {
    position: fixed;
    left: 0;
    background-color: rgba(239, 237, 254, 0.6);
    backdrop-filter: blur(4px);
    background: #606763;
    height: 100vh;
  }
  .p-dock-list {
    border-radius: 0;
    background: none;
    border: 0;
  }
  .p-dock-action {
    width: auto;
    height: auto;
    flex-direction: row;
    overflow: unset;

    i {
      padding: 10px;
      background: #eee;
      border-radius: 50%;
      &.active {
        color: #fff;
        background: #3277d1;
      }
    }
  }
  .p-dock-item-current {
    z-index: 11;
    margin: 0.5rem 0 !important;
    a {
      cursor: pointer;
      i {
        color: #fff;
        background: #3277d1;
      }
      .label-menu {
        visibility: visible;
        transition: all .2s cubic-bezier(.4,0,.2,1);
        z-index: 11;
      }
    }
  } 
}
.container {
  margin-left: 260px;
  flex: 1;
  transition: all .3s ease;
  max-width: 100%;
  width: calc(100% - 260px);
  &.no-margin {
    margin-left: 68px;
    width: calc(100% - 68px);
  }
  header {
    height: 70px;
    position: sticky;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    z-index: 10;
    background-color: rgba(239,237,254,.6);
    backdrop-filter: blur(4px);
    .zoom {
      padding: 10px;
      border-radius: 50%;
      transition: all .3s;
      cursor: pointer;
      i {
        padding: 10px;
        border-radius: 50%;
        background: #eee;
        margin-right: 10px;
      }
      &:hover {
        color: #3277d1;
        i {
          color: #fff;
          background: #3277d1;
          transition: all .3s;
        }
      }
    }
    ::ng-deep .header-right {
      cursor: pointer;
      position: relative;
      .p-menu.p-menu-overlay {
        left: -11rem !important;
        top: 33px !important;
      }
    }
  }
  .content {
    padding: 10px;
  }
}
.custom-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
}